#i-hate-itc-garamond .post__content {

	a {
		position: relative;
		color: $red;

		&::before {
			content:attr(href);
			@include baseline(-1);
			font-family: $accent-stack;
			white-space: nowrap;
			position: absolute;
			top: -2.3rem;
			left: 50%;
			padding: 0 1em;
			transform: translateX(-50%);
			font-style: normal;

			background-color: $red;
			color: $almost-white;
			
			opacity: 0;
			visibility: hidden;
			transition: all 0.25s ease-in-out;
			transition-delay: 0s;
		}
		&:hover::before {
			opacity: 1;
			visibility: visible;	
		}
	}

	svg {
		overflow: visible;
		display: block;
		margin: $base-line-height * 2 auto;
		width: 95%;
				
		path {fill: $red;}
		
		@keyframes bounce {
			0% { transform: translateY(0);}
			50% { transform: translateY(-1rem);}
			100% { transform: translateY(0);}
		}

		#svg__dot {
			animation: bounce 2s cubic-bezier(.87, -1, .19, 2) infinite;
		}
	}
}