#improving-the-digital-reading-experience {

	ul {
		margin: $base-line-height 0;
		li {
			@include baseline(-1);
			font-size: 1rem;
		}
	}

	#js--time {
		position: fixed;
		top: 4rem;
		left: 1rem;
		z-index: 98;
		@include baseline(1);
		font-family: $accent-stack;

		@include media-query($on-mobile) {
			padding: 0 1em;
			background-color: $red;
			color: $almost-white;
		}
	}

	#progress {
		height: 20px;
		width: 100%;
		background-color: $red;
		position: fixed;
		bottom: 0;
		left: 0;
		transform: scaleX(0);
		transform-origin: center left;
		transition: transform 1s ease-in-out;
	}

	.too-late {
		display: none;

		&__refresh {
			color: $red;
			position: relative;
			text-decoration: none;
			@include baseline(2);

			&::after {
				content: '';
				width: 100%;
				height: 2px;
				background-color: $red;
				position: absolute;
				left: 0;
				bottom: 0;
				transition: transform 0.25s ease-in-out;
			}

			&:hover::after {
				transform: translateY(4px);
			}
		}
	}

	&.complete {
		#js--time { display: none; }
		.post__content {
			& > * { display: none !important; }
			& .too-late { display: block !important; }
		}
	}

	.post__content {
		#js--beginTimer-wrapper {
			text-align: center;
			margin-top: $base-line-height * 2;
		}

		#js--beginTimer-wrapper ~ * { display: none; }

		#js--beginTimer {
			@include baseline(1);
			font-family: $title-stack;
			color: white;
			background-color: $red;
			display: inline-block;
			padding: 0 1em;
			text-decoration: none;
		}
	}
}