#improving-the-digital-reading-experience {

	#js--time {
		position: fixed;
		top: 4rem;
		left: 1rem;
		z-index: 98;
		@include baseline(1);
		font-family: $accent-stack;

		@include media-query($on-mobile) {
			padding: 0 1em;
			background-color: $red;
			color: $almost-white;
		}
	}

	#progress {
		height: 20px;
		width: 100%;
		background-color: $red;
		position: fixed;
		z-index: 99;
		bottom: 0;
		left: 0;
		transform: scaleX(0);
		transform-origin: center left;
		transition: transform 1s linear;
	}

	.too-late {
		display: none !important;

		&::before {content: '' !important}

		&__refresh {
			color: $red;
			position: relative;
			text-decoration: none;
			@include baseline(2);

			&::after {
				content: '';
				width: 100%;
				height: 2px;
				background-color: $red;
				position: absolute;
				left: 0;
				bottom: 0;
				transition: transform 0.25s ease-in-out;
			}

			&:hover::after {
				transform: translateY(4px);
			}
		}
	}

	&.complete {
		#js--time { display: none; }
		.post__content {
			& > * { display: none !important; }
			& .too-late { display: block !important; }
		}
	}

	.post__content {
		#js--beginTimer-wrapper {
			text-align: center;
			margin-top: $base-line-height * 2;
		}

		#js--beginTimer {
			@include baseline(1);
			font-family: $title-stack;
			color: white;
			background-color: $red;
			display: inline-block;
			padding: 0 1em;
			text-decoration: none;
		}
		
		counter-reset: title-counter;
		h2 {
			margin-top: $base-line-height * 4;
			position: relative;

			&::before {
				content: counter(title-counter);
				counter-increment: title-counter;
				position: absolute;
				left: -3rem;
				top: 0;
				color: $red;
				font-family: $title-stack;
				@include baseline(2);

				@include media-query($on-mobile) {
					position: static;
					display: block;
				}
			}

			@include media-query($on-mobile) {
				line-height: 2rem;
				margin: 0 auto 2rem auto;
				display: block;
				width: 95%;
			}
		}

		h3 {
			position: relative;

			&::before {
				content: attr(data-num);
				position: absolute;
				left: -5rem;
				top: 0;
				color: $red;
				font-family: $title-stack;
				@include baseline(1);
				width: 2em;
			    text-align: right;

				@include media-query($on-mobile) {
					position: static;
					display: inline-block;
					margin-right: 0.6em;
				}
			}

			@include media-query($on-mobile) {
				line-height: 2rem;
				margin: 0 auto 2rem auto;
				display: block;
				width: 95%;
			}
		}
	}

	.red { color: $red; }

	code {
		background-color: darken($almost-white, 10%);
		padding: 0.2em 0.6em;
		border-radius: 4px;
	}

	blockquote.quote p {
		position: relative;
		display: inline-block;
		line-height: $base-line-height;

		&::before, &::after {
			position: absolute;
			color: $red;
			font-size: 4rem;
			line-height: initial;
			top: -0.2em;

			@include media-query($on-mobile) {
				font-size: 1.4rem;
				position: static;
			}
		}
		&::before {
			content: "\201C";
			left: -3rem;
		}
		&::after {
			content: "\201D";
			right: -3rem;
		}
	}

	// DETAILS
	@keyframes blink {
		0% {opacity: 1;}
		50% {opacity: 0;}
		100% {opacity: 1;}
	}
	#blink {
		animation: blink 0.5s ease-in-out infinite;
	}
}