#incomplete-manifesto-for-growth {
	
	.post__content {
		max-width: none;
	}

	ol {
		list-style-type: none;
		padding: 0;
		counter-reset: quote-counter;

		li {
			width: 100%;
			margin: $base-line-height * 3 0;
			padding: $base-line-height 0;

			@include media-query($on-mobile) {
				margin: $base-line-height 0;
				padding: 0;
			}

			h2 a {
				color: inherit;
				position: relative;
				text-decoration: none;

				&::after {
					content: '';
					width: 100%;
					height: 2px;
					background-color: $darkgrey;
					position: absolute;
					left: 0;
					bottom: 0;
					transition: transform 0.25s ease-in-out;
				}
				&:hover::after {
					transform: translateY(4px);
				}
			}

			.list-item__inner {
				width: 100%;
				max-width: $max-width;
				margin: 0 auto;
				position: relative;

				@include media-query($on-mobile) {
					width: 95%;
					overflow-x: hidden;

					p {
						width: 100%;
					}
				}

				&::before {
					content: counter(quote-counter);
					counter-increment: quote-counter;
					position: absolute;
					left: -3rem;
					top: 0;
					color: $red;
					font-family: $title-stack;
					@include baseline(1);

					@include media-query($on-mobile) {
						position: static;
						display: inline-block;
					}
				}
			}

			.list-item__anchor {
			    position: absolute;
			    left: -3.2rem;
			    top: 4.2rem;
			    @include baseline(1);
			    width: 1em;

			    svg {
			    	height: 1.4rem;
			    	path {
			    		fill: darken($almost-white, 20%);
			    		transition: all 0.25s ease-in-out;
			    	}
			    }

			    &:hover path {
			    	fill: $darkgrey;
			    }

			    @include media-query($on-mobile) {
			    	position: static;
			    	display: inline-block;
			    	margin-left: 1em;
			    }
			}
		}
	}

	h2 {
		display: inline-block;
		position: relative;

		@include media-query($on-mobile) {
			line-height: $base-line-height;
			margin: 0 0 $base-line-height 0;
			display: block;
		}
	}

	// 1. Allow events to change you. && 34. Make mistakes faster.
	li:nth-child(1), li:nth-child(35) {
		button {
			margin: 0;
			border: none;
			padding: 0;
			color: inherit;
			display: inline-block;
			background-color: transparent;
			position: relative;
			outline: none;

			&::after {
				content: '';
				width: 100%;
				height: 2px;
				background-color: $darkgrey;
				position: absolute;
				left: 0;
				bottom: 1rem;
				transition: transform 0.25s ease-in-out;

				@include media-query($on-mobile) {
					bottom: 0;
				}
			}
			&:hover::after {
				transform: translateY(4px);
			}
		}

		#changeYou {
			transition: color 0.25s ease-in-out;
			&.changed { color: $red; }
		}
	}

	// 3. Process is more important than outcome.
	li:nth-child(3) .list-item__inner::after {
		content: '';
		@include baseline-grid;

		width: 100%;
		height: calc(100% + 1rem);
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;

		@include media-query($on-mobile) {
			height: 100%;
		}
	}

	// 8. Drift.
	li:nth-child(8) {
		@keyframes drift {
			0% {letter-spacing: 0;}
			50% {letter-spacing: 0.5em;}
			100% {letter-spacing: 0;}
		}
		h2 {
			animation: drift 6s ease-in-out infinite;
		}
	}

	// 9. Begin anywhere.
	li:nth-child(9) h2::before {
		content: 'Like Here';
		font-size: 0.5em;
		transform: rotate(-90deg);
		transform-origin: bottom right;
		position: absolute;
		top: -1em;
		left: -4.5rem;
	}

	// 12. Keep moving.
	@keyframes keep-moving {
		0% { transform: translateX(0); opacity: 0;}
		50% { opacity: 1;}
		100% { transform: translateX(100%); opacity: 0;}
	}

	li:nth-child(12) h2 {
		animation: keep-moving 1s infinite ease-in-out;
	}

	// 13. Slow down.
	li:nth-child(13) h2 {
		animation: keep-moving 5s infinite ease-in-out;
	}

	// 15. Ask stupid questions.
	li:nth-child(15) .list-item__inner::before {
		content: counter(quote-counter) "?";
	}

	// 17. _______.
	li:nth-child(17) {
		color: darken($almost-white, 10%);
		.list-item__inner::before {
			color: darken($almost-white, 10%) !important;
		}
		.list-item__anchor path {
			fill: darken($almost-white, 10%) !important; 
		}
	}

	// 21. Repeat yourself.
	li:nth-child(22) {
		counter-increment: quote-counter -1;
	} // Following the "clone" increment, increase nth-child by 1

	// 27. Read only left-hand pages.
	li:nth-child(28) {
		p {
			padding: 1 * $base-line-height;
			column-count: 2;
			column-gap: 9em;
			background: linear-gradient(to right, transparent 50%, $darkgrey 50%);

			@include media-query($on-mobile) {
				padding: 0;
				column-count: 1;
				background: none;
			}
		}
		& .list-item__inner:hover p {
			background: none;
		}		
	}

	// 39. Coffee breaks, cab rides, green rooms.
	li:nth-child(40) {
		background-color: limegreen;
		color: $almost-white;

		.list-item__inner::before {
			color: $almost-white;
		}

		.list-item__anchor {
			path {
				fill: $almost-white;
			}
			&:hover path {
				fill: darken($almost-white, 20%)
			}
		}
	}
}