#incomplete-manifesto-for-growth {
	
	.post__content {
		max-width: none;
	}

	h2 {
		margin: 0 0 0.2em 0;
		display: inline-block;
		position: relative;
	}
	
	ol {
		list-style-type: none;
		padding: 0;
		counter-reset: quote-counter;

		li {
			width: 100%;
			margin: 3rem 0;

			.list-item__inner {
				width: 100%;
				max-width: $max-width;
				margin: 0 auto;
				position: relative;

				&::before {
					content: counter(quote-counter);
					counter-increment: quote-counter;
					position: absolute;
					left: -3rem; 
					top: 0.5rem;
					color: $red;
				}
			}
		}
	}

	// 1. Allow events to change you.
	li:nth-child(1) #changeYou {
		transition: color 0.5s ease-in-out;
		&.changed { color: $red; }
	}

	// 9. Begin anywhere
	li:nth-child(9) h2::before {
		content: 'Like Here';
		font-size: 0.5em;
		transform: rotate(-90deg);
		transform-origin: bottom right;
		position: absolute;
		top: -1em;
		left: -4.5rem;
	}
}