#incomplete-manifesto-for-growth {
	
	.post__content {
		max-width: none;
	}

	h2 {
		margin: 0 0 0.1em 0;
		display: inline-block;
		position: relative;
	}
	
	ol {
		list-style-type: none;
		padding: 0;
		counter-reset: quote-counter;

		li {
			width: 100%;
			margin: 8em 0;

			.list-item__inner {
				width: 100%;
				max-width: $max-width;
				margin: 0 auto;
				position: relative;

				&::before {
					content: counter(quote-counter);
					counter-increment: quote-counter;
					position: absolute;
					left: -3rem; 
					top: 0.5rem;
					color: $red;
				}
			}
			&:nth-child(22) {
				counter-reset: quote-counter 20;
			}
		}
	}

	// 1. Allow events to change you.
	li:nth-child(1) #changeYou {
		transition: color 0.5s ease-in-out;
		&.changed { color: $red; }
	}

	// 3. Process is more important than outcome.
	li:nth-child(3) .list-item__inner::after {
		content: '';
		background: linear-gradient(to bottom, rgba($red, 0) 95%,rgba($red, 1) 100%);
		background-size: 100% 2.4rem;

		width: 100%;
		height: calc(100% + 1rem);
		position: absolute;
		top: -0.8rem;
		left: 0;
		z-index: -1;
	}

	// 9. Begin anywhere.
	li:nth-child(9) h2::before {
		content: 'Like Here';
		font-size: 0.5em;
		transform: rotate(-90deg);
		transform-origin: bottom right;
		position: absolute;
		top: -1em;
		left: -4.5rem;
	}

	// 12. Keep moving.
	@keyframes keep-moving {
		0% { transform: translateX(0); opacity: 0;}
		50% { opacity: 1;}
		100% { transform: translateX(100%); opacity: 0;}
	}

	li:nth-child(12) h2 {
		animation: keep-moving 1s infinite ease-in-out;
	}

	// 13. Slow down.
	li:nth-child(13) h2 {
		animation: keep-moving 5s infinite ease-in-out;
	}

	// 43. Power to the people.
	li:nth-child(43) a {
		color: $red;
		&:hover {color: $darkgrey;}
	}
}