# Jekyll Files
# ----------------------------------------------------------------------
.jekyll-metadata


# Uploaded files
# ----------------------------------------------------------------------
public/assets/uploads/*

# Misc files
# ----------------------------------------------------------------------
.DS_Store
Thumbs.db
.cache
.project
.settings
*.map
*.esproj
*.sublime-workspace
*.sublime-project
logs/*

# Dev files
# ----------------------------------------------------------------------
*.sass-cache/
node_modules/

# Compiled files
# ----------------------------------------------------------------------
_site/