<footer class="site-footer scene-element scene-element--fade-in-up">

	<div class="footer__inner">
		<h2 class="footer__title">Want to know when another article goes up?</h2>

		<form action="//xyz.us13.list-manage.com/subscribe/post?u=266c59945d09483a68eb193c8&amp;id=9d16cb92b0" method="post" name="subscribe-form" class="footer__form no-smoothState" target="_blank" novalidate>
			<fieldset class="footer__fieldset">
				<input class="footer__input" id="mce-EMAIL" type="email" value="" name="EMAIL">
				<label class="footer__label" for="mce-EMAIL">Email Address</label>
			</fieldset>

			<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_266c59945d09483a68eb193c8_9d16cb92b0" tabindex="-1" value=""></div>

		    <input class="footer__submit" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
		</form>
	</div>

</footer>