@import "articles/incomplete-manifesto-for-growth";
@import "articles/i-hate-itc-garamond";
@import "articles/improving-the-digital-reading-experience";
@import "articles/twelve-strategies";
@import "articles/i--website";

.post {
	padding-top: $base-line-height * 4;
	color: $darkgrey;

	&__header {
		max-width: $max-width;
		margin: 0 auto $base-line-height * 2 auto;

		@include media-query($on-mobile) {
			width: 95%;
		}
	}

	&__title {
		margin-bottom: 0;
	}

	&__author, &__copyright {
		font-family: $accent-stack;
		font-weight: 500;
		letter-spacing: 1px;
		text-transform: uppercase;
		display: inline-block;
		color: $red;
		@include baseline(-1);

		a { color: $darkgrey; }
	}

	&__content {
		max-width: $max-width;
		margin: 0 auto;

		blockquote {
			margin: 0;
			text-align: center;
			p {
				@include baseline(1);
			}
		}
	}

	> ol {
		list-style-type: none;
		counter-reset: list-counter;
		padding: 0;

		li {
			@include baseline(0);
			position: relative;

			&::before {
				content: counter(list-counter) '.';
				counter-increment: list-counter;
				position: absolute;
				left: -5rem;
				top: 0;
				font-family: $title-stack;
				font-size: 1rem;
				line-height: 2.3rem;
				width: 3em;
				text-align: right;

				@include media-query($on-mobile) {
					left: -4rem;
				}
			}
		}

		@include media-query($on-mobile) {
			padding-left: 2em;
			width: 95%;
			margin: 0 auto 2rem auto;
			box-sizing: border-box;
		}
	}

	> ul {
		list-style-type: none;
		padding: 0;
		margin: 0 0 $base-line-height 0;

		li {
			position: relative;
			@include baseline(0);

			&::before {
				content: '\2014';
				position: absolute;
				left: -3rem;
				top: 0;
				font-size: inherit;
				line-height: inherit;

				@include media-query($on-mobile) {
					left: -2rem;
				}
			}
		}

		@include media-query($on-mobile) {
			padding-left: 2em;
			width: 95%;
		    margin: 0 auto 2rem auto;
			box-sizing: border-box;
		}
	}

	&__footer {
		margin: $base-line-height * 2 auto;
		width: 95%;
		max-width: $max-width;
		position: relative;

		font-family: $accent-stack;
		font-weight: 500;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: $darkgrey;
		@include baseline(-1);

		a { color: $red; }

		span {
			display: block;
		}

		&::before {
			content: '';
			position: absolute;
			top: -2rem;
			left: 0;
			width: 3rem;
			height: 2px;
			background-color: $red;
		}
	}

	.red { color: $red; }

	code {
		background-color: darken($almost-white, 10%);
		padding: 0.2em 0.6em;
		border-radius: 4px;
	}

	blockquote.quote p {
		position: relative;
		display: inline-block;
		line-height: $base-line-height;

		&::before, &::after {
			position: absolute;
			color: $red;
			font-size: 3rem;
			line-height: initial;
			top: -0.2em;

			@include media-query($on-mobile) {
				font-size: 1.4rem;
				position: static;
			}
		}
		&::before {
			content: "\201C";
			left: -3rem;
		}
		&::after {
			content: "\201D";
			right: -3rem;
		}
	}

	blockquote.preface {
		text-align: left;
		background-color: darken($almost-white, 10%);
		padding: $base-line-height;
		margin-bottom: $base-line-height * 2;

		p {
			margin-bottom: 0;
			line-height: 2rem;
		}
	}

	input {
		border: none;
		padding: 0 0.5em;
		line-height: inherit;
		background-color: darken($almost-white, 10%);
	}
}

.footnotes {
	ol {
		list-style-type: none;
		counter-reset: list-counter;
		padding: 0;
	}

	li {
		position: relative;

		&::before {
			content: counter(list-counter) '.';
			counter-increment: list-counter;
			position: absolute;
			left: -5rem;
			top: 0;
			font-family: $body-stack;
			@include baseline(-1);
			width: 3em;
			text-align: right;

			@include media-query($on-mobile) {
				left: -4rem;
			}
		}
	}
	
	p {
		@include baseline(-1);
		margin: 0;
	}
}