@import "articles/incomplete-manifesto-for-growth";
@import "articles/i-hate-itc-garamond";
@import "articles/improving-the-digital-reading-experience";

.post {
	padding-top: $base-line-height * 4;
	padding-bottom: $base-line-height * 4;
	color: $darkgrey;

	&__header {
		max-width: $max-width;
		margin: 0 auto $base-line-height * 2 auto;

		@include media-query($on-mobile) {
			width: 95%;
		}
	}

	&__title {
		margin-bottom: 0;
	}

	&__author, &__copyright {
		font-family: $accent-stack;
		font-weight: 500;
		letter-spacing: 1px;
		text-transform: uppercase;
		display: inline-block;
		color: $red;
		@include baseline(-1);

		a { color: $darkgrey; }
	}

	&__content {
		max-width: $max-width;
		margin: 0 auto;

		blockquote {
			margin: 0;
			text-align: center;
			p {
				@include baseline(1);
			}
		}
	}

	ol {
		list-style-type: none;
		counter-reset: list-counter;
		padding: 0;

		li {
			@include baseline(0);
			position: relative;

			&::before {
				content: counter(list-counter) '.';
				counter-increment: list-counter;
				position: absolute;
				left: -5rem;
				top: 0;
				font-family: $title-stack;
				font-size: 1rem;
				line-height: 2.3rem;
				width: 3em;
				text-align: right;

				@include media-query($on-mobile) {
					left: -4rem;
				}
			}
		}

		@include media-query($on-mobile) {
			padding-left: 2em;
			width: 95%;
			margin: 0 auto 2rem auto;
			box-sizing: border-box;
		}
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0 0 $base-line-height 0;

		li {
			position: relative;
			@include baseline(0);

			&::before {
				content: '\2014';
				position: absolute;
				left: -3rem;
				top: 0;
				font-size: inherit;
				line-height: inherit;

				@include media-query($on-mobile) {
					left: -2rem;
				}
			}
		}

		@include media-query($on-mobile) {
			padding-left: 2em;
			width: 95%;
		    margin: 0 auto 2rem auto;
			box-sizing: border-box;
		}
	}
}