@import "articles/incomplete-manifesto-for-growth";
@import "articles/i-hate-itc-garamond";
@import "articles/improving-the-digital-reading-experience";

.post {
	padding-top: $base-line-height * 4;
	padding-bottom: $base-line-height * 4;
	color: $darkgrey;

	&__header {
		max-width: $max-width;
		margin: 0 auto $base-line-height * 2 auto;

		@include media-query($on-mobile) {
			width: 95%;
		}
	}

	&__title {
		margin-bottom: 0;
	}

	&__author, &__copyright {
		font-family: $accent-stack;
		font-weight: 500;
		letter-spacing: 1px;
		text-transform: uppercase;
		display: inline-block;
		color: $red;
		@include baseline(-1);
	}

	&__content {
		max-width: $max-width;
		margin: 0 auto;

		blockquote {
			margin: 0;
			p {
				@include baseline(1);
			}
		}
	}
}