.content-wrapper {
    .scene-element {
        animation-duration: $anim-time;
        transition-timing-function: $cubic-bezier;
        animation-fill-mode: both;

        &--fade-in {
            animation-name: fade-in;
        }

        &--fade-in-up {
            animation-name: fade-in-up;
        }

        &--fade-in-down {
            animation-name: fade-in-down;
        }

        &--home-bg {
            animation-name: home-bg;
        }
    }

    // Reverse "exit" animations
    &.is-exiting {
        .scene-element {
            animation-direction: alternate-reverse;
            animation-delay: 0s !important;
        }
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes fade-in-up {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-down {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes home-bg {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}