*::-moz-selection { background-color: $red; color: $almost-white; }
*::selection { background-color: $red; color: $almost-white; }

html, body, #main {
	height: 100%;
}

html { font-size: 100%; }

body {
	background: $almost-white;
	font-family: $body-stack;
}

h1, h2 {
	font-family: $title-stack;
}