::-moz-selection { background-color: $red; color: $almost-white; }
::selection { background-color: $red; color: $almost-white; }

html, body, #main {
	height: 100%;
}

html { font-size: 100%; }

body {
	background: $almost-white;
	font-family: $body-stack;

	&.grid {
		@include baseline-grid;
	}
}

h1, h2, h3 {
	font-family: $title-stack;
	margin: 0;
	
	@include media-query($on-mobile) {
		width: 95%;
	}
}

h1 {@include baseline(3); margin: 1 * $base-line-height 0;}
h2 {@include baseline(2);}
h3 {@include baseline(1);}

p {
	@include baseline(0);
	margin: 0 auto $base-line-height auto;

	@include media-query($on-mobile) {
		width: 95%;
	}
}

.first-time {
	&-modal {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9999;

		background-color: rgba($red, 0.8);

		display: flex;
		justify-content: center;
		align-items: center;

		opacity: 1;
		visibility: visible;

		transition: all 0.5s;
		transition-delay: 0s;

		&.first-time--closed {
			opacity: 0;
			visibility: hidden;
		}
	}

	&__inner {
		background-color: $almost-white;
		max-width: 500px;
		padding: $base-line-height;

		@include baseline(0);
		text-align: center;

		h1 {
			margin: 0 0 1em 0;
			line-height: initial;
		}
	}

	&__close {
		@include baseline(-1);
		font-family: $accent-stack;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: $red;
		background-color: transparent;
		border: 2px solid $red;
		padding: 0 1em;
		display: block;
		margin: $base-line-height auto 0 auto;
		transition: all 0.25s;

		&:hover {
			background-color: $red;
			color: $almost-white;
		}
	}
}