::-moz-selection { background-color: $red; color: $almost-white; }
::selection { background-color: $red; color: $almost-white; }

html, body, #main {
	height: 100%;
}

html { font-size: 100%; }

body {
	background: $almost-white;
	font-family: $body-stack;

	&.grid {
		@include baseline-grid;
	}
}

h1, h2, h3 {
	font-family: $title-stack;
	margin: 0;
	
	@include media-query($on-mobile) {
		width: 95%;
	}
}

h1 {@include baseline(3); margin: 1 * $base-line-height 0;}
h2 {@include baseline(2);}
h3 {@include baseline(1);}

p {
	@include baseline(0);
	margin: 0 auto $base-line-height auto;

	@include media-query($on-mobile) {
		width: 95%;
	}
}