---
layout: default
---
{% include header.html %}

<article class="post" id="{{ page.title | slugify | replace:',','-' }}" itemscope itemtype="http://schema.org/BlogPosting">

	<header class="post__header scene-element scene-element--fade-in-up">
		<h1 class="post__title" itemprop="name headline">{{ page.title }} &mdash;</h1>
		<h3 class="post__author">Written by {{ page.author }}{% if page.copyright %} &mdash; {{ page.copyright }}{% endif %}</h3>
	</header>
	
	<div class="post__content scene-element scene-element--fade-in-up" itemprop="articleBody">
		{{ content }}
	</div>
	
	{% include post-footer.html %}

</article>

{% include footer.html %}