@mixin background() {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}




// Media-Queries
$on-mobile:        768px;
$on-tablet:        1024px;
$on-laptop:        1500px;

@mixin media-query-ext($max-width, $min-width) { 
	@media screen and (max-width: $max-width) and (min-width: $min-width + 1px) {
	    @content;
	}
}

@mixin media-query($max-width) { 
	@media screen and (max-width: $max-width) {
	    @content;
	}
}