// FONTS
$body-font: 'Roboto';
$body-stack: $body-font, Helvetica, Arial, sans-serif;

$title-font: 'Circular Std';
$title-stack: $title-font, Helvetica, Arial, sans-serif;



// COLORS
$grey: #b3b3b3;
$midgrey: #868686;
$darkgrey: #252525;
$orange: #f87000;



// ANIMATIONS
$anim-time: 0.65s;
$cubic-bezier: ease-in-out;


$post-width: 1024px;