// FONTS
$body-font: Georgia;
$body-stack: $body-font, serif;

$title-font: 'Circular Std';
$title-stack: $title-font, Helvetica, Arial, sans-serif;

$accent-font: 'Roboto';
$accent-stack: $accent-font, $title-stack;



// COLORS
$almost-white:	#f5f5f5;
$grey:			#b3b3b3;
$midgrey:		#868686;
$darkgrey:		#2b2b2b;
$red:			#EF2424;
$orange:		#f87000;



// ANIMATIONS
$anim-time: 0.65s;
$cubic-bezier: ease-in-out;


$max-width: 700px;